<app-section titulo="Lavandaria" descricao="Recolha e entrega ao domicílio" icon="lavandaria">
    <app-icon-card class="shadow-3 w-12rem" label="Tapete / Carpete" [icon]="icones['tapete']">
      <app-counter
        [initialValue]="initialValues().tapete"
        (onIncrement)="onIncrement('tapete')"
        (onDecrement)="onDecrement('tapete')"
      />
    </app-icon-card> 
  </app-section>
  <app-section titulo="Serviço ao Domicílio" descricao="Deslocação Gratuíta" icon="servico-ao-domicilio">
    <div class="flex flex-wrap gap-2 justify-content-around">
      <app-icon-card class="shadow-3 w-12rem" label="Sofá" [icon]="icones['sofa']">
        <app-counter
          [initialValue]="initialValues().sofa"
          (onIncrement)="onIncrement('sofa')"
          (onDecrement)="onDecrement('sofa')"
        />
      </app-icon-card>
      <app-icon-card class="shadow-3 w-12rem" label="Colchão" [icon]="icones['colchao']">
        <app-counter
          [initialValue]="initialValues().colchao"
          (onIncrement)="onIncrement('colchao')"
          (onDecrement)="onDecrement('colchao')"
        />
      </app-icon-card>
      <app-icon-card class="shadow-3 w-12rem" label="Estrutura/Cabeceira" [icon]="icones['estruturaCabeceira']">
        <app-counter
          [initialValue]="initialValues().estruturaCabeceira"
          (onIncrement)="onIncrement('estruturaCabeceira')"
          (onDecrement)="onDecrement('estruturaCabeceira')"
        />
      </app-icon-card>
      <app-icon-card class="shadow-3 w-12rem" label="Cortinados" [icon]="icones['cortinados']">
        <app-counter
          [initialValue]="initialValues().cortinados"
          (onIncrement)="onIncrement('cortinados')"
          (onDecrement)="onDecrement('cortinados')"
        />
      </app-icon-card>
      <app-icon-card class="shadow-3 w-12rem" label="Cadeiras" [icon]="icones['cadeiras']">
        <app-counter
          [initialValue]="initialValues().cadeiras"
          (onIncrement)="onIncrement('cadeiras')"
          (onDecrement)="onDecrement('cadeiras')"
        />
      </app-icon-card>
      <app-icon-card class="shadow-3 w-12rem" label="Pousa-pés" [icon]="icones['pousaPes']">
        <app-counter
          [initialValue]="initialValues().pousaPes"
          (onIncrement)="onIncrement('pousaPes')"
          (onDecrement)="onDecrement('pousaPes')"
        />
      </app-icon-card>
      <app-icon-card class="shadow-3 w-12rem" label="Puff" [icon]="icones['puff']">
        <app-counter
          [initialValue]="initialValues().puff"
          (onIncrement)="onIncrement('puff')"
          (onDecrement)="onDecrement('puff')"
        />
      </app-icon-card>
      <app-icon-card class="shadow-3 w-12rem" label="Tapete / Carpete" [icon]="icones['carpete']">
        <app-counter
          [initialValue]="initialValues().carpete"
          (onIncrement)="onIncrement('carpete')"
          (onDecrement)="onDecrement('carpete')"
        />
      </app-icon-card>
    </div>
  </app-section>
  <div class="text-center">
    <p-button label="Avançar" (onClick)="next()"></p-button>
  </div>