<form [formGroup]="form()">
    <div>
        <div class="label" style="margin-bottom: 0 !important;">1. Formato</div>
        <span class="block mb-2"><small>Introduza as medidas em centimetros</small></span>
    </div>
    <div class="flex flex-column flex-wrap gap-3 align-items-center">
        <span class="flex flex-wrap align-items-center gap-2">
            <app-icon icon="cortinado-medida" viewbox="" [width]="90" [height]="140"></app-icon>
            <label for="x">X</label>
            <span class="relative">
                <p-inputNumber inputStyleClass="w-6rem" inputId="x" mode="decimal" [minFractionDigits]="2" [min]="0" formControlName="x"/>
                <small class="cm-label">m</small>
            </span>
        </span>
        <span>{{ form().value.formato | number: '1.2-2' }} m</span>
    </div>
    <div class="label">2.Serviço</div>
    <div class="flex flex-wrap gap-3 justify-content-center">
        <p-toggleButton class="w-full sm:w-12rem" styleClass="w-full sm:w-12rem" formControlName="limpeza" onLabel="Limpeza" offLabel="Limpeza"></p-toggleButton>
    </div>
    <div class="label">3. Tratamento</div>
    <div class="flex flex-wrap gap-3 justify-content-center">
        <p-toggleButton class="w-full sm:w-12rem" styleClass="w-full sm:w-12rem" formControlName="impermeabilizacao" onLabel="Impermeabilização" offLabel="Impermeabilização"></p-toggleButton>
    </div>
</form>
