<div>
    <i class="pi pi-arrow-left" (click)="voltar()"></i>
</div>
<hr>
<div class="flex flex-column gap-2">
    @if(simulador.items().value; as items) {
        <div>
            @for (item of items; track $index) {
                <div class="flex justify-content-between mb-1">
                    <span>{{ item.descricao }}</span>
                    <div>
                        <span (click)="deleteItem(item)"><i class="pi pi-trash mx-2 text-red-400"></i></span>
                    </div>
                </div>
                <div class="text-sm ml-4 text-700 mb-2">

                    @for (detalhe of item.resumo.detalhes; track $index) {
                        <div class="flex justify-content-between">
                            <span>{{ detalhe.detalhe }}</span>
                            <span>{{ detalhe.valor | currency: 'EUR' }}</span>
                        </div>
                    }
                </div>
                <div class="flex justify-content-end">
                    <span>{{ item.resumo.total | currency: 'EUR' }}</span>
                </div>
                <hr>
            }
        </div>
        <div class="flex flex-column align-items-center justify-content-center">
            @if(items.length > 0) {
                <div class="mb-4 mt-2 text-center">
                    Valor Total (Serviços a Domicilio): {{ totalDomicilio() | currency: 'EUR' }}<br>
                    @if(descontosDomicilio(); as descontos) {
                        Descontos (Serviço a Domicilio): {{ descontos | currency: 'EUR' }}<br>
                    }
                    <br>
                    Valor Total (Serviços Lavanderia): {{ totalLavanderia() | currency: 'EUR' }}<br>
                    @if(descontosLavanderia(); as descontos) {
                        Descontos: {{ descontos | currency: 'EUR' }}<br>
                    }
                    <br>
                    Valor final c/ IVA: {{ totalComDesconto() | currency: 'EUR' }}<br>
                    <br>
                    *Valores c/ IVA incluso<br>
                </div>
                @if(possuiOferta(); as oferta) {
                    <div>
                        <div class="text-center w-20rem mb-4">
                            98% dos nossos clientes compra o tratamento Anti-ácaros, por apenas <span>{{oferta.valor | currency: 'EUR'}}</span>
                        </div>
                        <form class="flex gap-2 mb-4 justify-content-center" [formGroup]="adicionalForm">
                            <span>
                                Sim, quero
                                <p-radioButton
                                    formControlName="adicional"
                                    [value]="true"
                                     />
                                </span>
                                <span>
                                    Não, obrigado
                                    <p-radioButton
                                    [value]="false"
                                    formControlName="adicional"
                                     />
                            </span>
                        </form>
                        <div class="mb-6 font-bold text-lg text-center">
                            Valor Total: {{ this.simulador.final().value| currency: 'EUR'}}
                        </div>
                    </div>
                }
            } @else {
                <div>
                    Carrinho Vazio.
                </div>
            }
        </div>
        <div class="flex justify-content-center gap-2">
            @if(items.length > 0) {
                <p-button label="Adicionar Serviço" severity="secondary" (onClick)="voltarHome()"></p-button>
                <p-button label="Finalizar" (onClick)="finalizar()"></p-button>
            } @else {
                <p-button label="Ir para Homepage" (onClick)="voltarHome()"></p-button>
            }
        </div>
    } @else if(simulador.items().loading){
        <div class="text-center">
            <p-progressSpinner class="p-4" styleClass="w-4rem h-4rem" strokeWidth="5" styleClass="text-primary"  animationDuration="1s"></p-progressSpinner>
        </div>
    }
</div>