<div class="flex justify-content-between">
    <i class="pi pi-arrow-left cursor-pointer" (click)="voltar()"></i>
</div>
<hr>
<div class="py-5 flex justify-content-center flex-column align-items-center">
    <i class="pi pi-thumbs-up block text-primary text-xl mb-3"></i>
    <span class="block font-bold">PEDIDO CONFIRMADO E RECEBIDO</span>
</div>
<div class="grid">
    <div class="col-9 pr-0">
        @for (item of simulador.items().value; track $index) {
            <div class="py-2">
                <i class="pi pi-check-circle mr-2 text-primary"></i>
                <span>{{ item.descricao }}</span>
            </div>
        }
    </div>
    <div class="col-3 flex justify-content-center align-items-center">
        <span class="block font-bold">Total {{ simulador.final().value| currency: 'EUR' }}</span>
    </div>
</div>
<div class="py-3 flex flex-column justify-content-center align-items-center">
    <div class="text-center w-20rem">
        Iremos entrar em contato nas próximas 24 horas úteis 
        para agendar dia e hora. Muito obrigado
    </div>
    <div class="text-center w-20rem mt-4">
        <p-button label="Ir para a Homepage" (onClick)="voltar()"></p-button>
    </div>
</div>