<form [formGroup]="form()">
    <div class="label">1. Formato</div>
    <div class="flex justify-content-center">
        <div class="flex flex-column align-content-center flex-wrap shadow-3 w-12rem">
            <div class="flex flex-column p-3 align-items-center h-full">
                <app-icon [icon]="sofa()" class="p-1" viewbox="" [width]="140" [height]="50"></app-icon>
                <div class="py-1">
                    <span class="block">Lugares</span>
                </div>
                <div class="mt-auto">
                    <app-counter 
                    [min]="1"
                    [max]="8"
                    (onIncrement)="increment()"
                    (onDecrement)="decrement()"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="label">2.Acabamento</div>
    <div class="flex flex-wrap gap-3 justify-content-center">
        <div class="w-4rem">
            <label class="block" for="tecido">Tecido</label>
            <p-radioButton formControlName="acabamento" inputId="tecido"  value="tecido" />
        </div>
        <div class="w-4rem">
            <label class="block" for="pele">Pele</label>
            <p-radioButton formControlName="acabamento" inputId="pele"  value="pele" />
        </div>
    </div>
    <div class="label">2.Serviço</div>
    <div class="flex flex-wrap gap-3 justify-content-center">
        <p-toggleButton class="w-full sm:w-12rem" styleClass="w-full sm:w-12rem" formControlName="limpeza" onLabel="Limpeza" offLabel="Limpeza"></p-toggleButton>
    </div>
    <div class="label">3. Tratamento</div>
    <div class="flex flex-wrap gap-3 justify-content-center">
        <p-toggleButton class="w-full sm:w-12rem" styleClass="w-full sm:w-12rem" formControlName="impermeabilizacao" onLabel="Impermeabilização" offLabel="Impermeabilização"></p-toggleButton>
    </div>
</form>