<form [formGroup]="form()">
    <div class="label">1. Formato</div>
    <div class="flex flex-column align-content-center justify-content-center flex-wrap gap-3 sm:flex-row">
        <app-icon-card class="flex-initial border-round-lg surface-300 w-8rem" icon="tapete-retangulo">
            <ng-template #label>
                <span class="block">Retângulo</span>
            </ng-template>
            <p-radioButton formControlName="formato" value="retangulo" />
        </app-icon-card>
        <app-icon-card class="flex-initial border-round-lg surface-300 w-8rem" icon="tapete-quadrado">
            <ng-template #label>
                <span class="block">Quadrado</span>
            </ng-template>
            <p-radioButton formControlName="formato" value="quadrado" />
        </app-icon-card>
        <app-icon-card class="flex-initial border-round-lg surface-300 w-8rem" icon="tapete-redondo">
            <ng-template #label>
                <span class="block">Redondo</span>
            </ng-template>
            <p-radioButton formControlName="formato" value="redondo" />
        </app-icon-card>
    </div>
    <div class="label">2.Serviço</div>
    <div class="flex flex-wrap gap-3 justify-content-center">
        <p-toggleButton class="w-full sm:w-12rem" styleClass="w-full sm:w-12rem" formControlName="limpeza" onLabel="Limpeza" offLabel="Limpeza"></p-toggleButton>
    </div>
    <!-- <div class="label">3. Tratamento</div>
    <div class="flex flex-wrap gap-3 justify-content-center">
        <p-toggleButton class="w-full sm:w-12rem" styleClass="w-full sm:w-12rem" formControlName="impermeabilizacao" onLabel="Impermeabilização" offLabel="Impermeabilização"></p-toggleButton>
    </div> -->
    <div class="label">4.Medida</div>
    <div><span class="block mb-2"><small>Introduza as medidas em centimetros</small></span></div>
    <div class="flex flex-column justify-content-center sm:flex-row flex-wrap gap-3 align-items-center">
    @if (form().controls.formato.value == 'retangulo') {
        <app-icon icon="tapete-metro-retangulo" viewbox="" [width]="140" [height]="140"></app-icon>
        <span class="flex flex-wrap align-items-center gap-2">
            <label for="y">Y</label>
            <span class="relative">
                <p-inputNumber
                mode="decimal"
                formControlName="y"
                [minFractionDigits]="2"
                #y
                inputStyleClass="w-6rem"
                inputId="y"
                mode="decimal"
                [min]="0"/>
                <small class="cm-label">m</small>
            </span>
            <label for="x">X</label>
            <span class="relative">
                <p-inputNumber
                mode="decimal"
                formControlName="x"
                [minFractionDigits]="2"
                #x
                inputStyleClass="w-6rem"
                inputId="x"
                mode="decimal"
                [min]="0"/>
                <small class="cm-label">m</small>
            </span>
        </span>
    } @else if (form().controls.formato.value == 'quadrado') {
        <app-icon icon="tapete-metro-quadrado" viewbox="" [width]="110" [height]="110"></app-icon>
        <span class="flex flex-wrap align-items-center gap-2">
            <label for="a">Altura</label>
            <span class="relative">
                <p-inputNumber
                #a
                formControlName="a"
                mode="decimal"
                [minFractionDigits]="2"
                inputStyleClass="w-6rem"
                inputId="a"
                mode="decimal"
                [min]="0"
                />
                <small class="cm-label">m</small>    
            </span>
        </span>
    } @else if (form().controls.formato.value == 'redondo') {
        <app-icon icon="tapete-metro-redondo" viewbox="" [width]="110" [height]="110"></app-icon>
        <span class="flex flex-wrap align-items-center gap-2">
            <label for="d">Diâmetro</label>
            <span class="relative">
                <p-inputNumber
                #d
                formControlName="d"
                mode="decimal"
                [minFractionDigits]="2"
                inputStyleClass="w-6rem"
                inputId="d"
                mode="decimal"
                [min]="0"
                />
                <small class="cm-label">m</small>
            </span>
        </span>
    }
    <span>{{ form().controls.medida.value | number: '1.2-2' }} m²</span>
</div>
</form>